/* Font-size-oppgradering */

.font-size {
    .title {
        font-size: 2.5rem;
    }

    .typerText {
        font-size: 1.5rem;
    }

    .shopText {
        font-size: 1.5rem;
    }

    .upgradesBoughtTextP {
        font-size: 1.5rem;
    }
}

/* Color-oppgradering */

.color {
    .header {
        background-color: #b9b9b9;
    }

    .cssTyper {
        background-color: #b9b9b9;
    }

    .shop {
        background-color: #b9b9b9;
    }

    .upgradesBought {
        background-color: #b9b9b9;
    }

    .selgSide,
    .reinkarnasjon {
        background-color: #b9b9b9;
    }
}

/* Grid-oppgradering */

.grid .gridBox {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 15rem 5rem;
    display: grid;
    grid-template-areas:
        "header header header"
        "shop cssTyper upgradesBought"
        ". selgSide .";
    column-gap: 40px;
    row-gap: 20px;
    justify-items: center;
    align-items: center;

    .header {
        height: 100%;
        width: 100%;
        grid-area: header;
        align-self: end;
        width: 100%;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cssTyper {
        width: calc(100% - 2px);
        height: 100%;
        grid-area: cssTyper;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .typerTextBox {
        width: 100%;
    }

    .typerText {
        width: 100%;
        height: 3rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cssTextBox {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .shop {
        width: calc(100% - 2px);
        height: 100%;
        grid-area: shop;
    }
    .shopText {
        width: 100%;
        height: 3rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .shopDiv {
        display: grid;
        grid-template-areas:
            "numberBox dollaridoosBox"
            "shopCssText shopDollarText"
            "shopCss shopDollar";
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr;
        height: calc(100% - 49px);
    }

    .dollarUnlocked .shopDiv {
        grid-template-columns: 1fr 1fr;
    }

    .shopCssText {
        grid-area: shopCssText;
    }

    .shopCssDiv {
        grid-area: shopCss;
    }

    .shopDollarText {
        grid-area: shopDollarText;
    }

    .shopDollarDiv {
        grid-area: shopDollar;
    }

    .numberBox {
        grid-area: numberBox;
    }

    .dollaridoosBox {
        grid-area: dollaridoosBox;
    }

    .upgradesBought {
        width: calc(100% - 2px);
        height: auto;
        grid-area: upgradesBought;
    }

    .test {
        width: calc(100% - 2px);
        height: 100%;
    }

    .upgradesBoughtBox {
        height: calc(100% - 49px);
        display: grid;
        grid-template-areas:
            "cssTitle dollaridoosTitle"
            "shopCssBox shopDollarBox";
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
    }

    .dollarUnlocked .upgradesBoughtBox {
        grid-template-columns: 1fr 1fr;
    }

    .upgradesBoughtCssText {
        grid-area: cssTitle;
    }

    .cssUpgradesBoughtBox {
        grid-area: shopCssBox;
    }

    .upgradesBoughtDollarText {
        grid-area: dollaridoosTitle;
    }

    .dollarUpgradesBoughtBox {
        grid-area: shopDollarBox;
    }

    .upgradesBoughtTextP {
        width: 100%;
        height: 3rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .selgSide {
        grid-area: selgSide;
    }
}

/* Padding-oppgradering */

.padding {
    .selgSide,
    .reinkarnasjon {
        padding: 10px;
    }

    .cssUpgradesBoughtBox,
    .dollaridoosBox,
    .numberBox,
    .shopCssText,
    .shopCssDiv,
    .shopDollarText,
    .shopDollarDiv,
    .confirmTitle,
    .infoBox span,
    .gridBox,
    .upgradesBoughtCssText,
    .dollarUpgradesBoughtBox,
    .upgradesBoughtDollarText,
    .cssTextBox2 {
        padding: 5px;
    }

    .confirmContent {
        padding: 10px 5px;
    }

    .confirmContent2 {
        padding-left: 5px;
    }

    .typerText,
    .shopText,
    .upgradesBoughtTextP {
        padding-bottom: 5px;
    }  
}

.padding.grid {
    .gridBox {
        padding: 0;
    }

    .typerText,
    .upgradesBoughtTextP,
    .shopText {
        padding-bottom: 0;
    }

    .cssTextBox2 {
        padding: 0;
    }
}

/* Margin-oppgradering */

.margin {
    .gridBox {
        margin: 5px;
    }

    .cssBox {
        margin: 5px 0px;
    }

    .numberLines {
        margin-bottom: 5px;
    }

    .shopCssDiv,
    .shopDollarDiv,
    .upgradesBoughtBox {
        margin-top: 10px;
    }

    .upgradesBoughtItem,
    .shopItem,
    .shopDollarItem {
        margin-bottom: 5px;
    }

    .cssTyper,
    .shop,
    .upgradesBought,
    .selgSide {
        margin-top: 15px;
    }
}

.margin.grid {
    .cssTyper,
    .shop,
    .shopCssDiv,
    .shopDollarDiv,
    .upgradesBought,
    .upgradesBoughtBox,
    .selgSide,
    .reinkarnasjon {
        margin-top: 0;
    }

    .gridBox {
        margin: 0;


    }
}

/* Border-oppgradering */

.border {
    .header {
        border-bottom: 1px solid #000;
    }

    .cssTyper {
        border: 1px solid #000;
    }
    .typerText {
        border-bottom: 1px solid #000;
    }

    .shop {
        border: 1px solid #000;
    }
    .shopText {
        border-bottom: 1px solid #000;
    }

    .shopCssText,
    .numberBox,
    .dollaridoosBox {
        border-bottom: 1px solid #000;
    }

    .shopDollarText {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    .upgradesBought {
        border: 1px solid #000;

        .upgradesBoughtTextP {
            border-bottom: 1px solid #000;
        }
    }

    .upgradesBoughtCssText,
    .upgradesBoughtDollarText {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    .selgSide,
    .reinkarnasjon {
        border: 1px solid #000;
    }
}

.border.grid {
    .upgradesBoughtCssText,
    .upgradesBoughtDollarText,
    .shopDollarText {
        border-top: none;
    }
    .dollarUnlocked {
        .shopCssText,
        .shopCssDiv,
        .numberBox {
            border-right: 1px solid #000;
        }
    }
    .cssTyper {
        min-width: 207px;
    }
}

/* Fiks paddinger på kjøpte oppgraderinger */
