/* Få ting til å ikke se helt mongo ut i starten*/

.cssBox {
    width: 200px;
}

.cssText {
    cursor: default;
}

.shopItem {
    cursor: pointer;
}

.shopDollarItem {
    cursor: pointer;
}

.toggleItem {
    cursor: pointer;
}

.selgSide {
    width: max-content;
    cursor: pointer;
}

/* Skru av display på ting som ikke er unlocka */

.toggle {
    display: none;
}

.toggleItem {
    display: none;
}

.toggleText {
    display: none;
}

.dollaridoosBox {
    display: none;
}

.shopDollarText {
    display: none;
}

.shopDollarDiv {
    display: none;
}

/* .selgSide {
    display: none;
} */

/* Infoboks */

.infoBox {
    position:relative;
    color:#000;
    text-decoration: none;
}

.infoBox span {
    display: none;
}

.infoBox:hover span { 
    display: block;
    position: absolute;
    top: 1.5rem;
    max-width: 15rem;
    z-index: 1;
    background-color: #fff; 
    border:1px solid rgb(0, 0, 0);
}

/* confirmation vindu */

.confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmWindow{
    border: 1px solid #000;
    background-color: #fff;
    max-width: 500px;
}

.confirmClose {
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.confirmTitlebar {
    display: flex;
    justify-content: space-between;
}

.confirmClose:hover {
    cursor: pointer;
}

.confirmButtons {
    display: flex;
    justify-content: flex-end;
}

.confirmButton {
    cursor: pointer;
}

.confirmButtonYe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px; 
    border: 1px solid #000;
    text-align: center;
    margin: 1px;
}

.confirmButtonNo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px; 
    border: 1px solid #000;
    text-align: center;
    margin: 1px;
}