/* Få ting til å ikke se helt mongo ut i starten*/

.cssBox {
    width: 200px;
}

.cssText {
    cursor: default;
    height: 20px;
}

.cssText img {
    height: 24px;
}

.header,
.cssTyper,
.shop,
.upgradesBought,
.shopItem,
.upgradesBoughtItem,
.selgSide,
.reinkarnasjon {
    width: fit-content;
}

.shopItem,
.shopDollarItem,
.selgSide,
.reinkarnasjon {
    cursor: pointer;
}

/* Skru av display på ting som ikke er unlocka */

.upgradesBoughtText,
.upgradesBoughtCssText,
.upgradesBoughtDollarText,
.upgradesBoughtDollarItem,
.shopCssText,
.shopDollarText,
.shopLevelDollarText,
.dollaridoosBox,
.timer
/*, .selgSide,
.reinkarnasjon */ {
    display: none;
}

.onTestItem {
    display: none;
}

/* Infoboks */

.infoBox {
    position: relative;
    color: #000;
    text-decoration: none;
}

html {
    overflow: hidden;
}

.infoBox span{
    display: none;
}

.infoBox:hover span{
    display: block;
    position: absolute;
    top: 1.5rem;
    width: max-content;
    max-width: 15rem;
    z-index: 1;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);
    
}

/* confirmation vindu */

.confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmWindow {
    border: 1px solid #000;
    background-color: #fff;
    max-width: 500px;
}

.confirmClose {
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.confirmTitlebar {
    display: flex;
    justify-content: space-between;
}

.confirmClose:hover,
.confirmButtonYe:hover,
.confirmButtonNo:hover {
    cursor: pointer;
}

.confirmButtons {
    display: flex;
    justify-content: flex-end;
}

.confirmButtonYe,
.confirmButtonNo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    border: 1px solid #000;
    text-align: center;
    margin: 1px;
}

/* Reinkarnasjon */
